// Base Colors
$accent-color: #8DC63F;
$dark-bg: #2E3192;
$text-color-on-dark: #FFFFFF;

// Button
$button-text-color: #FFFFFF;

// Spacing
$space-base: 14px;
$space-2x: $space-base * 2;

// Fonts
$main-font-family: Raleway;
$base-font-size: 16px;
$main-font-size: 18px;

// Label
$label-font-size: 18px;
$label-font-style: normal;
$label-font-weight: bold;
$label-line-height: normal;

// Images
$type-icons: (
  comprimido: 'pill',
  pastilha: 'pastille',
  spray: 'spray',
  xarope: 'syrup',
  pomada: 'ointment',
  injecao: 'injection',
  inalacao: 'anesthesia',
  gotas: 'eyedropper'
);
