%form-field-label {
  margin-bottom: $space-base/2;
  display: block;
  font-size: $label-font-size;
  color: $text-color-on-dark;
  font-family: $main-font-family;
  font-style: $label-font-style;
  font-weight: $label-font-weight;
  line-height: $label-line-height;
}
