@mixin base-font (
  $font-family: $main-font-family,
  $font-style: normal,
  $font-weight: normal,
  $line-height: normal,
  $font-size: $main-font-size,
  $text-transform: none,
  $text-align: left,
  $color: $text-color-on-dark,
  $opacity: 1
) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
  font-size: calc-rem($font-size);
  text-transform: $text-transform;
  text-align: $text-align;
  color: rgba($color, $opacity);
}

%typo-compact-data-label {
  @include base-font($font-size: 12px, $text-align: right, $color: $text-color-on-light, $opacity: 0.6);
}

%typo-compact-data-value {
  @include base-font($font-family: $number-font-family, $font-size: 16px, $font-weight: bold, $text-align: right, $color: $text-color-on-light, $opacity: 0.4);
}

%typo-card-title {
  @include base-font($font-weight: bold, $color: $text-color-on-light, $opacity: 0.6);
}

%typo-card-subtitle {
  @include base-font($font-size: 12px, $color: $text-color-on-light, $opacity: 0.6);
}

%typo-label {
  @include base-font($font-weight: bold);
}

%typo-input-value {
  @include base-font();
}

%typo-help-text {
  @include base-font($font-size: 14px, $font-weight: 300, $opacity: 0.6);
}

%typo-box-label {
  @include base-font($font-size: 12px, $font-weight: bold, $text-align: center);
}

%typo-natural-language-form {
  @include base-font($font-size: 32px, $line-height: 44px);
}
